.bs-img-hero{
    position: relative;
    background: url("./456skin/456\ IMAGE\ 1\ \ hero\ desktop\ banner\ image.png");
    /* display: block; */
    background-size: cover;
    height: 725px;
    width: 100%;
}
.bs-text-sub-hero-teaser{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.bs-text-sub-hero-teaser .sub-hero-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 120.5%;
}
.bs-text-sub-hero-teaser .teaser-sub-title{
    font-size: 24px;
    line-height: 120.5%;
}
.bs-text-sub-hero-teaser .text-teaser-content{
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .bs-img-hero{
        width: 100%;
        background-size: cover;
        height: 200px;
    }
    .bs-text-sub-hero-teaser .sub-hero-title{
        font-size: 22px;
        /* color: #FFD458; */
    }
    .bs-text-sub-hero-teaser .teaser-sub-title{
        font-size: 18px;
        margin: 0 30px;
    }
    .bs-text-sub-hero-teaser .text-teaser-content .text-teaser{
        position: relative;
        /* width: 100%; */
        font-size: 18px !important;
        /* color: rebeccapurple; */
        margin: 0 30px !important;
    }
}
.bs-text-sub-hero-teaser .text-teaser-content .text-teaser{
    /* position: absolute; */
    /* top: 1%; */
    margin: 0 250px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
/* skin color teaser */
.bs-color-picker{
    margin-top: 25px;
}
.bs-dev-colors-picker-teaser{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.bs-color-picker-wrapper{
    margin-top: 64px;
    /* width: 30%; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit ,minmax(80px, 1fr)); */
    display: flex; 
    /* max-width: 1640px; */
    /* height: 250%; */
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 50px;
    
}

.bs-color-picker-wrapper::-webkit-scrollbar{
    width: 10px;
    padding-top: 16px;
    height: 0px;
}

.bs-color-picker-wrapper::-webkit-scrollbar-track{
    background: rgba(184, 180, 180, 0.342);
}
.bs-color-picker-wrapper::-webkit-scrollbar-thumb{
    background: rgb(31, 23, 23);
}
.bs-single-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    /* margin: 0 -5px; */
}

.bs-single-color .bs-colors{
    display: flex;
    justify-content: space-between;
}
.bs-single-color .bs-colors .color-picker{
    background-color: brown;
    height: 130px;
    width: 130px;
    margin-right: 45px;
    border-radius: 100%;
}
@media only screen and (max-width: 750px){
    .bs-single-color .bs-colors .color-picker{
        background-color: rgb(224, 146, 146);
        height: 36px !important;
        width: 36px !important;
        padding: 0 !important;
        margin-right: 10px !important;
        border-radius: 100%;
    }   
    .bs-color-picker-wrapper{
        padding: 0 !important; 
        width: 100% !important;
    }
    .bs-single-color{
        margin: 0 !important;
        text-align: center !important;
    }
    .bs-single-color .bs-colors .color-picker:first-child::before{
        display: none;
    }
    
    .bs-single-color .bs-colors .color-picker:first-child::after{
       display: none;
    }
    .bs-single-color .bs-colors .color-picker:last-child::before{
        display: none;
    }
    
    .bs-single-color .bs-colors .color-picker:last-child::after{
        display: none;
    }
    .bs-single-color  .bs-color-name .color-name{
        position: relative !important;
        margin-left: -20px;
        font-size: 11px;
        
    }
}
.bs-single-color .bs-colors .color-picker:first-child::before{
    content: '';
    position: absolute;
    height: 25px;
    left: 12%;
    width: 2px;
    background: #000000;
    top: 95%;
}

.bs-single-color .bs-colors .color-picker:first-child::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    left: 12%;
    background: #000000;
    bottom: -15%;
}
.bs-single-color .bs-colors .color-picker:last-child::before{
    content: '';
    position: absolute;
    right: 27%;
    height: 25px;
    width: 2px;
    background: #000000;
    top: 98%;
}

.bs-single-color .bs-colors .color-picker:last-child::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    right: 27%;
    background: #000000;
    bottom: -16.5%;
}
.bs-single-color .bs-colors .orphan:first-child::before{
    display: none;
}

.bs-single-color .bs-colors .orphan:first-child::after{
    display: none;
}
.bs-single-color .bs-color-name .orph-name{
    position: absolute;
    left: 0 !important;
    bottom: -23% !important;
    /* color: #FAC869; */
}
.bs-single-color  .bs-color-name .color-name{
    position: absolute;
    left: 15%;
    right: 30%;
    bottom: -19%;
}
.bs-find-prototype{
    position: relative;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prot-icon{
    display: inherit;
    font-size: 54px;
    /* bottom: 0%; */
}
.prototype{
    margin: 64px 0;
    width: 900px;
}
.bs-find-prototype .prototype-grid .prototype .img-handler{
    width: 100%;
}
.bs-find-prototype .prototype-grid .prototype .img-handler img{
    width: 100%;
    height: 100%;
}
.bs-find-prototype .prototype-grid .prototype .img-handler  .img-legend{
    position: absolute;
    width: 338px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 20px;
    bottom: 100px;
}
.prot-teaser{
    display: flex;
}
.bs-find-prototype .prototype-grid .prototype .img-handler  .img-legend .prot-text{
    color: #fff;
    font-size: 48px;
    text-decoration: none;
    line-height: 120.5%;
}

.bs-find-prototype .prototype-grid .prototype .img-handler  .img-legend .prot-link{
    text-decoration: none;
    color: #000000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bs-find-prototype .prototype-grid .prototype .img-handler  .img-legend .prot-link .link-text{
    /* height: 62px; */
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 12px;
    background: #FFD458;
    font-size: 24px;
}
.bs-find-prototype .prototype-grid .prototype{
    display: flex;
    /* flex-direction: row-reverse; */
    /* max-width: 1140px; */
    /* margin: 0 30px; */
    /* grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
}
.bs-find-prototype .prototype-grid img{
    width: 50%;
    height: 360px;
    /* height: 500px; */
}
.text-handler{
    width: 100%;
    height: 600px;
    padding: 2rem;
    background: #D6BFDD;
}
.text-handler .prototype-title{
    font-size: 32px;
    text-transform: uppercase;
    line-height: 120.5%;
}
.text-handler .list .el{
    font-size: 24px;
    line-height: 120.5%;
}
/* big product teaser */
.bs-big-product-teaser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bs-big-product-teaser .product-wide-img{
    position: relative;
}

.bs-big-product-teaser .product-wide-img img{
    position: relative;
    max-width: 100%;
}
.bs-big-product-teaser .product-wide-img .product-header{
    position: absolute;
    top: 0%;
    left: 20%;
    z-index: 1;
    right: 20%;
    margin: 0 auto;
}

.bs-big-product-teaser .product-wide-img .product-header .product-teaser-step-desc{
    font-style: italic;
}

.bs-big-product-teaser .product-wide-img .product-bottom{
    position: absolute;
    bottom: 5%;
    left: 30%;
    right: 30%;
    
}
@media only screen and (max-width:769px){
    .product-header{
        position: relative !important;
        left: 0 !important;
        text-align: center;
    }
    .product-header .sub-hero-title{
        font-size: 26px !important;
    }
    .product-header .product-teaser-step-desc{
        font-size: 22px;
    }

.bs-big-product-teaser .product-wide-img .product-bottom{
    position: absolute;
    bottom: 2%;
    left: 30%;
    right: 30%;
    /* width: 100%; */
    
}
}

.bs-big-product-teaser .product-wide-img .product-bottom .prod-btn{
    display: flex;
    justify-content: center;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background: #FFD458;
}
/* skin care */
.bs-skin-care-product{
    /* display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 120px;
}
.product-row{
    display: grid;
    
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    /* overflow: hidden; */
    /* flex-direction: column; */
    margin-top: 32px;
    margin-bottom: 32px;
    align-items: center;
    /* gap: 64px; */
    /* max-width: 1140px; */
    text-align: center;
    justify-content: space-evenly;
}
.product-row .product-utility-wrapper .utility-title{
    font-size: 38px;
    text-transform: uppercase;
    line-height: 120.5%;
}
.product-row .product-ut-desc{
    /* margin: auto 1px; */
    text-align: center;
    font-size: 20px;
}
.product-row .products-utilities{
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 64px; */
    /* overflow: hidden; */
    justify-content: space-evenly;
}
.product-row .product-items{
    margin-top: 52px;
    /* margin-right: 32px; */
    text-align: center;
}
.product-row .products-utilities .product-items .prod-buy-btn{
    background-color:  #FAC869;
    padding: 8px 28px;
    display: inline;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    width: 100%;
}
.product-row .products-utilities .product-items .product-name{
    font-size: 20px;
    line-height: 110%;
    font-weight: 500;
}
.testimony-teaser{
    background: url("./456skin/456\ IMAGE\ 1\ \ hero\ desktop\ banner\ image25.png");
    width: 100%;
    background-size: cover;
    height: 700px;
    margin-top: 120px;
}
@media only screen and (max-width: 1000px){
    .prototype{
        max-width: 900px;
        /* height: 44444px; */
    }
}

@media only screen and (max-width: 960px){
    .product-row{
        display: flex;
        flex-wrap: wrap;
    }
    .bs-img-hero{
        width: 100%;
        background-size: cover;
        height: 200px;
    }
    .bs-text-sub-hero-teaser .sub-hero-title{
        font-size: 26px;
        /* color: #FFD458; */
    }
    .bs-text-sub-hero-teaser .teaser-sub-title{
        font-size: 24px;
        margin: 0 30px;
    }
    .bs-text-sub-hero-teaser .text-teaser-content .text-teaser{
        position: relative;
        /* width: 100%; */
        font-size: 24px !important;
        /* color: rebeccapurple; */
        margin: 0 30px !important;
    }
}
@media only screen and (max-width: 926px){
    .prototype{
        max-width: 750px;
    }
}
@media only screen and (max-width: 750px){
    .prototype-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .bs-text-sub-hero-teaser .text-teaser-content .text-teaser{
        position: relative;
        /* width: 100%; */
        font-size: 22px !important;
        /* color: rebeccapurple; */
        margin: 10px 8px !important;
    }
    .toggle-txt-img{
        display: flex;
        justify-content: center;
    }
    .toggle-txt-img .active{
        background: #FFD458;
    }
    .toggle-txt-img .bullet, .bullet1{
        height: 15px;
        width: 15px;
        border-radius: 100%;
        border: 1px solid #000000;
        display: block;
    }
.product-row .products-utilities .product-items .product-name{
    font-size: 16px;
    text-align: center;
}
.prot-teaser{
    display: flex;
}
.prototype{
    width: 100%;
    flex-direction: column;
}
    .prototype .text-handler{
        width: 100%;
        display: none;
        overflow-x: hidden;
    }

    .prototype .img-handler .img-legend .prot-text{
        font-size: 28px !important;
    }
}
@media only screen and (max-width: 570px){
   .product-row{
    display: flex;
    flex-wrap: wrap;
   }
    .products-utilities{
        display: flex;
        justify-content: center;
        /* gap: 32px; */
        /* flex-wrap: wrap; */
        /* overflow: hidden; */
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    }
    .product-utility-wrapper .utility-title{
        font-size: 20px !important;
        margin-top: 32px;
    }
    .products-utilities .product-items .product-name{
        font-size: 18px;
    }

    .testimony-teaser{
        width: 100%;
        background-size: cover;
        height: 300px;
        overflow: hidden;
    }
    .products-utilities .product-items{
        margin-right: 0;
        /* overflow: hidden; */
    }

    .products-utilities .product-items .product-ut-img img{
        width: 100%;
    }
}